<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <p-button *ngIf="(profile$ | async)?.id === (user$ | async)?.id"
                icon="pi pi-pencil" (click)="displayDialog=true"
                styleClass="p-button-rounded p-button-secondary p-button-text">
            </p-button>
            </div>
        </div>
        <p-scrollPanel [style]="{height: '200px'}">
            <p *ngIf="(profile$ | async)?.hometown !== null" ><i class="pi pi-home p-mr-2 mt-2"></i>From {{ (profile$ | async)?.hometown }}</p>
            <p *ngIf="(profile$ | async)?.dob  !== null" ><i class="pi pi-calendar p-mr-2"></i>Born in {{ (profile$ | async)?.dob  }}</p>
            <p *ngIf="(profile$ | async)?.title  !== null"><i class="pi pi-briefcase p-mr-2"></i>Works as {{ (profile$ | async)?.title }}</p>
            <p *ngIf="(profile$ | async)?.title  === null"><i class="pi pi-briefcase p-mr-2"></i>Works as Volume User</p>
            <p *ngIf="(profile$ | async)?.phoneNumber !== null"><i class="pi pi-mobile p-mr-2"></i>Call at {{ (profile$ | async)?.phoneNumber  }}</p>
            <p *ngIf="(profile$ | async)?.gender !== null"><i class="pi pi-user p-mr-2"></i>{{ (profile$ | async)?.gender }}</p>
        </p-scrollPanel>
    </div>
</div>

<p-dialog header="Edit your info" [(visible)]="displayDialog" [breakpoints]="{'960px': '95vw', hight: '100%'}" 
[style]="{width: '50vw'}" [dismissableMask]="true"
    [draggable]="false" [resizable]="false" [modal]="true">
    <app-identity (dataSavedEmitter)="hideDialog($event)"></app-identity>
</p-dialog>
