<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <p-button 
                icon="pi pi-pencil" 
                styleClass="p-button-rounded p-button-secondary p-button-text">
            </p-button>
            </div>
        </div>
        <p><i class="pi pi-home p-mr-2 mt-2"></i>From Lebanon</p>
        <p><i class="pi pi-calendar p-mr-2"></i>Born in 12/02/1999</p>
        <p><i class="pi pi-briefcase p-mr-2"></i>Software Engineer</p>
        <p><i class="pi pi-mobile p-mr-2"></i>70 785 489</p>
        <p><i class="pi pi-user p-mr-2"></i>Male</p>
    </div>
</div>