<p-card header="Trending">
    <p-tag *ngFor="let trend of trends">#{{ trend }}</p-tag>
</p-card>
<p-scrollPanel>
    <p-card header="People You May Know">
        <p-avatarGroup styleClass="p-mb-3">
            <p-avatar  *ngFor="let user of (suggestions$ | async)" 
            [image]="user.profilePhotoUrl? user.profilePhotoUrl : ''"
            [icon]="user.profilePhotoUrl? '' : 'pi pi-user'"
            size="large" shape="circle"></p-avatar>
            <p-avatar label="+2" shape="circle" size="large" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
        </p-avatarGroup>
        <div *ngFor="let user of (suggestions$ | async)">
            <app-user-card [user]="user" (removeFromSuggestionsEmitter)="remove($event)"></app-user-card>
        </div>
    </p-card>
</p-scrollPanel>
