<p-card header="Trending">
    <p-tag *ngFor="let trend of trends">#{{ trend }}</p-tag>
</p-card>

<p-card header="People You May Know">
    <p-avatarGroup styleClass="p-mb-3 p-ml-5">
        <p-avatar image="assets/images/luna.jpg" size="large" shape="circle"></p-avatar>
        <p-avatar image="assets/images/me.jpg" size="large" shape="circle"></p-avatar>
        <p-avatar image="assets/images/jimmy.jpg" size="large" shape="circle"></p-avatar>
        <p-avatar image="assets/images/mira.jpg" size="large" shape="circle"></p-avatar>
        <p-avatar image="assets/images/samaj.jpg" size="large" shape="circle"></p-avatar>
        <p-avatar label="+2" shape="circle" size="large" [style]="{'background-color':'#9c27b0', 'color': '#ffffff'}"></p-avatar>
    </p-avatarGroup>
    <app-suggestions [users]="users"></app-suggestions>
</p-card>