:host ::ng-deep {
    .p-card {
        margin: 5% 10% 10% 0%;
    }

    .p-tag {
        margin: 2%;
    }

    .p-listbox {
        border: none;
    }

    .p-listbox-item {
        cursor: default;
    }
    
    .p-toolbar {
        border: none;
        width: 100%;
    }

}