<form [formGroup]="form">
    <div class="row" *ngIf="registration">
        <div class="col-6">
            <p-avatar [image]="(profile$ | async)?.profilePhotoUrl? (profile$ | async)?.profilePhotoUrl : ''" 
            [icon]="(profile$ | async)?.profilePhotoUrl? '' : 'pi pi-user'" 
            size="xlarge" shape="circle" (click)="show()" pTooltip="Add a profile photo" (click)="show()"></p-avatar>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-pencil"></i>
                <input type="text" pInputText placeholder="Name" formControlName="displayName">
            </span>
        </div>
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-pencil"></i>
                <input type="text" pInputText placeholder="Title" formControlName="title">
            </span>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-pencil"></i>
                <input type="text" pInputText placeholder="Hometown" formControlName="hometown">
            </span>
        </div>
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-pencil"></i>
                <input type="text" pInputText placeholder="Phone Number" pKeyFilter="num" formControlName="phoneNumber">
            </span>
        </div>
    </div>
    <div class="row pt-5 calendar">
        <div class="col-6">
            <span class="p-input-icon-right">
                <i class="pi pi-pencil"></i>
            <p-inputMask mask="99/99/9999" formControlName="dob" placeholder="99/99/9999" slotChar="mm/dd/yyyy"></p-inputMask>
            </span>
        </div>
        <div class="col-6">
            <p-dropdown [options]="genders" formControlName="gender" optionLabel="name" placeholder="Gender"></p-dropdown>
        </div>
    </div>
</form>
    <div class="p-grid p-nogutter p-justify-end mt-5">
        <button class="p-mr-2" pRipple pButton label="Save changes" (click)="saveChanges()" 
        [disabled]="!(form.valid && form.dirty)"></button>
        <button pRipple pButton label="Cancel" class="p-button-outlined" (click)="close()"></button>
    </div>

<p-dialog header="Add profile picture" [(visible)]="displayDialog" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
    [dismissableMask]="true" [resizable]="false">
        <app-file-uploader (fileSelectedEmitter)="fileSelected($event)"></app-file-uploader>
        <div class="p-grid p-nogutter p-justify-end mt-5">
            <button class="p-mr-2" pRipple pButton label="Save changes" (click)="addProfilePhoto()" 
            [disabled]="!file"></button>
            <button pRipple pButton label="Cancel" class="p-button-outlined" (click)="displayDialog=false"></button>
        </div>
</p-dialog> 

