<p-toolbar>
    <div class="p-toolbar-group-left my-2">
        <div class="d-flex flex-row mt-1"> 
            <p-avatar [image]="user.profilePhotoUrl" styleClass="p-mr-1" size="large" shape="circle"></p-avatar>
            <div class="p-ml-1 "> 
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name">
                            <h6>{{ user.displayName }}</h6> 
                        </span> 
                    </div> 
                </div>
                <p [innerText]="user.title !== null? user.title : user.hometown || 'Valued Volume user'"></p>
            </div>
        </div>
    </div>
    <div class="p-toolbar-group-right">
        <p-button pRipple type="button" 
        [label]="user.isFollowing? 'Following' : 'Follow'" 
        [icon]="user.isFollowing? 'pi pi-check' : 'pi pi-plus'" 
        (click)="followToggle(user.id)"
        styleClass="p-button-outlined p-button-rounded p-button-sm ml-5"></p-button>
    </div>
</p-toolbar>