:host ::ng-deep {

    .p-card {
        border-left: 1px solid #17212f;
    }

    .p-card-content {
        padding: 0%;
    }

    .p-toolbar {
        border: none;
        padding: 0%;
    }

    .p-listbox {
        border: none;
    }

    .p-inputtext {
        width: 100%;
    }

}

i {
    font-size: 1.5rem;
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: 1.7rem;
}

