        <p-card>
            <p-toolbar>
                <div class="p-toolbar-group-left">
                    <div class="d-flex flex-row">
                        <i class="pi pi-arrow-left p-pt-2 p-mr-4"></i>
                        <p-avatar image="assets/images/jimmy.jpg" shape="circle" size="large"></p-avatar>
                        <div class="p-ml-3">
                            <h5>Jimmy Los</h5>
                            Online
                        </div>
                    </div>
                </div>
                <div class="p-toolbar-group-right">
                    <i class="pi pi-ellipsis-h pt-3 mr-3"></i>
                </div>
            </p-toolbar>
            <hr>
            <p-listbox [options]="(thread$ | async)" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [listStyle]="{ 'height': '440px'}"
            optionLabel="thread.senderDisplayName" [multiple]="false">
            <ng-template let-thread pTemplate="item">
                <div class="d-flex flex-row mt-1">
                    <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
                    <div class="ml-3 w-100">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex flex-row align-items-center"> 
                                <span class="name">
                                    <h6>{{ thread.senderDisplayName }}</h6> 
                                </span> 
                                <small class="text-muted time-text p-ml-1">{{ thread.sentAt | date }}</small>
                            </div> 
                        </div>
                        <p class="user-comment-text text-justify">{{ thread.content }}</p>
                    </div>
                </div>
            </ng-template>
        </p-listbox>
        </p-card>
        
        <div style="width: 100%;">
            <p-card>
                <div class="col-12 d-flex justify-content-end">
                    <i class="pi pi-images p-mr-4 mt-2"></i>
                    <i class="pi pi-camera p-mr-4 mt-2"></i>
                    <i class="pi pi-pencil p-mr-4 mt-2"></i>
                    <fa-icon *ngIf="!emojiExpanded" [icon]="faGrinAlt" class="mr-4" (click)="op.toggle($event)"></fa-icon>
                    <fa-icon *ngIf="emojiExpanded" [icon]="faTimes" class="mr-4"></fa-icon>
                </div>
                <div class="col-12">
                    <form [formGroup]="inputForm" class="d-flex justify-content-end">
                        <input type="text" pInputText placeholder='Press "Enter" to send message ..' formControlName="message" (keyup.enter)="sendMessage()"> 
                    </form>
                </div>  
            </p-card>
        </div>
        
        <p-overlayPanel #op (onShow)="expandEmoji()" (onHide)="expandEmoji()">
            <ng-template pTemplate>
                <app-emoji (emojiEmitter)="select($event)"></app-emoji>
            </ng-template>
        </p-overlayPanel>
