    <p-dialog header="Camera" [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '80vw'}" (onHide)="hideCamera()" class="small-screen">
        <div class="p-5 pl-0">
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [imageQuality]="1"
                [width]="200"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)">
            </webcam>
        </div>
        <ng-template pTemplate="footer p-mt-1">
            <p-button icon="pi pi-check" label="Take A Snapshot" icon="pi pi-camera" styleClass="p-button-success" (click)="triggerSnapshot();"></p-button>
            <div *ngIf="multipleWebcamsAvailable">
                <fa-icon (click)="showNextWebcam(true);" [icon]="faSync" style="font-size: xx-large;"></fa-icon>
            </div>
        </ng-template> 
    </p-dialog>

    <p-dialog header="Camera" [(visible)]="displayBasic" [baseZIndex]="10000" [style]="{width: '50vw'}" (onHide)="hideCamera()" class="full-screen">
        <div class="p-5 pl-0">
            <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                [imageQuality]="1"
                [width]="400"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="handleInitError($event)">
            </webcam>
        </div>
        <ng-template pTemplate="footer p-mt-1">
            <p-button icon="pi pi-check" label="Take A Snapshot" icon="pi pi-camera" styleClass="p-button-success" (click)="triggerSnapshot();"></p-button>
            <div *ngIf="multipleWebcamsAvailable">
                <fa-icon (click)="showNextWebcam(true);" [icon]="faSync" style="font-size: xx-large;"></fa-icon>
            </div>
        </ng-template>
    </p-dialog>

<div *ngIf="webcamImage">
    <p-dialog header="Is it looking nice?" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '90vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
    <img [src]="webcamImage.imageAsDataUrl" class="snapshot"/>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
</div>
