.pi-ellipsis-h {
    display: none;
}

@media screen and (max-width: 600px) {
    .right-icons,p-avatar {
        display: none;
    }

    .pi-ellipsis-h {
        display: block;
    }

}

:host ::ng-deep {
    .p-menu {
        width: 100%;
    }
}