<div class="container-fluid sticky-top px-0">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <img src="assets/images/Volume.png" height="30">
        </div>

        <div class="p-toolbar-group-right">
            <i class="right-icons pi pi-link pi-search mr-4"></i>
            <i class="right-icons pi pi-link pi-bell mr-4"></i>
            <i class="right-icons pi pi-link pi-envelope mr-4"></i>
            <p-avatar image="assets/images/me.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
            <i class="pi pi-link pi-ellipsis-h" (click)="expandMenu()"></i>
        </div>
    </p-toolbar>

    <div *ngIf="menuExpanded">
        <p-menu [model]="items"></p-menu>
    </div>
</div>