<p-toolbar>
    <div class="p-toolbar-group-left">
        <div class="d-flex flex-row"> 
            <div class="ml-2 w-100">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name" *ngIf="contact">
                            <h6>{{contact?.displayName}}</h6> 
                            <small *ngIf="(presenceService.onlineUsers$ | async).includes(contact.id)">Active now</small>
                        </span> 
                        <span class="name" *ngIf="!contact">
                            <h6>Start a new conversation</h6> 
                        </span> 
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="p-toolbar-group-right">
        <i class="pi pi-ellipsis-h"></i>
    </div>
</p-toolbar>
<p-scrollPanel [style]="{height: '600px', border: '1px solid #304562'}" class="frame" (scroll)="scrolled($event)" #scrollframe>
    <div *ngIf="(messages$ | async).length === 0">
        <div class="col-12 d-flex justify-content-center pt-5">
            No messages yet. Say "Hello" to begin.
        </div>
    </div>
    <app-loader *ngIf="(messages$ | async).length >= 10" [noMore]="noMoreMessages" (click)="loadMore();"></app-loader>
    <div *ngFor="let message of (messages$ | async)" #item>
        <div class="d-flex flex-row p-pt-5 px-3"> 
            <p-avatar [image]="message.senderId === contact?.id? contact?.profilePhotoUrl : (user$ | async)?.profilePhotoUrl" 
            [icon]="(message.senderId === contact?.id && contact?.profilePhotoUrl === null)? 'pi pi-user' : '' "
            styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
            <div class="ml-2 w-100">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name">
                            <h6 [innerText]="message?.senderId === contact?.id? contact?.displayName : (user$ | async)?.displayName"></h6> 
                        </span> 
                        <small class="text-muted p-pl-2">{{message.sentAt | date: "shortTime"}}</small>
                    </div> 
                </div>
                <p class="text-justify">
                    <fa-icon [icon]="seen" class="p-mr-1"  style="font-size: smaller;" *ngIf="message.senderId !== contactId && message.seen"></fa-icon>
                    <fa-icon [icon]="sent" class="p-mr-1"  style="font-size: smaller;" *ngIf="message.senderId !== contactId && !message.seen"></fa-icon>
                    {{message.content}}
                </p>
            </div>

        <i (click)="selectMessage($event, message)" class="pi pi-ellipsis-v"></i>
        </div>
    </div>
</p-scrollPanel>
<form [formGroup]="form" style="padding: 2%; border: 1px solid #304562; border-top: none">
    <input type="text" pInputText placeholder='Press "Enter" to send message' formControlName="message" 
    required (keyup.enter)="sendMessage()" class="p-mr-2">
    <fa-icon *ngIf="!emojiExpanded" [icon]="faGrinAlt" (click)="op.show($event)"></fa-icon>
    <fa-icon *ngIf="emojiExpanded" [icon]="faTimes"></fa-icon>
</form>

<p-overlayPanel #op (onShow)="expandEmoji()" (onHide)="hideEmoji()" 
[dismissable]="true" [showCloseIcon]="true" appendTo="body">
    <ng-template pTemplate>
        <app-emoji (emojiEmitter)="select($event)" (emojiClickEmitter)="op.hide()"></app-emoji>
    </ng-template>
</p-overlayPanel>

<p-menu [model]="items" #menu [popup]="true"></p-menu>
