:host ::ng-deep {
    .p-inputtext {
        width: 90%;
    }

    .p-toolbar {
        padding: 4%;
    }
}

i {
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

@media screen and (max-width: 430px) {
    fa-icon {
        font-size: 1.25rem;
    }

    :host ::ng-deep {
        .p-inputtext {
            width: 90%;
        }
    }
}