:host ::ng-deep {
    .p-inputtext {
        width: 90%;
    }

    .p-toolbar {
        padding: 4%;
    }
}

i {
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.pi-send {
    font-size: x-large;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.comment-icon {
    font-size: x-large;
}

@media screen and (max-width: 430px) {
    fa-icon {
        font-size: 1.25rem;
    }

    :host ::ng-deep {
        .p-inputtext {
            width: 90%;
        }
    }
}