:host ::ng-deep { 
    .p-inputtext {
        width: 100% !important;
    }

    .p-inputtextarea {
        margin-left: 0%;
    }
    .p-toolbar {
        border: none;
    }

}

input {
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: 1.5rem;
}


@media screen and (max-width: 400px) {
    :host ::ng-deep { 
        .p-toolbar {
            padding: 0% !important;
        }
    }

}