<div class="d-flex flex-row p-pt-3 px-3"> 
    <p-avatar [image]="contact.profilePhotoUrl? contact.profilePhotoUrl : ''" 
    [icon]="contact.profilePhotoUrl? '' : 'pi pi-user'"
    styleClass="p-mr-2" size="large" shape="circle">
    </p-avatar>
    <div class="ml-2 w-100">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-row align-items-center"> 
                <span class="name">
                    <h6 [innerText]="contact.displayName"></h6> 
                </span> 
                <small class="text-muted p-pl-2">{{(contact.lastMessageReceived === null? contact.lastMessageSent.sentAt : 
                    contact.lastMessageSent === null? contact.lastMessageReceived.sentAt : 
                    contact.lastMessageReceived?.sentAt > contact.lastMessageSent?.sentAt? 
                    contact.lastMessageReceived?.sentAt : contact.lastMessageSent?.sentAt) | date: "shortTime"}}</small>
            </div> 
        </div>
        <p class="text-justify"><span>{{contact?.lastMessageReceived?.sentAt > contact?.lastMessageSent?.sentAt? 
            contact?.lastMessageReceived?.senderDisplayName : contact?.lastMessageSent?.senderDisplayName}}</span>
            : {{contact?.lastMessageReceived?.sentAt > contact.lastMessageSent?.sentAt? contact.lastMessageReceived?.content : contact.lastMessageSent?.content}}
        </p>
    </div>
</div>