:host ::ng-deep {
    .p-input-icon-left > .p-inputtext, .p-input-icon-left {
        width: 100%;
    }

    .p-listbox {
        border: none;
    }

    .p-listbox-item {
        padding: 0%;
        border: 1px solid red;
    }
}