<p-listbox [options]="chats" [metaKeySelection]="false" [checkbox]="true" [filter]="filter" optionLabel="sender.userDisplayName" 
[listStyle]="listStyle" [multiple]="selectionMode" (onClick)="expandChatRoom()">
    <ng-template let-chat pTemplate="item">
        <div class="d-flex flex-row mt-1"> 
            <p-avatar [image]="chat.sender.userProfilePhoto" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
            <div class="ml-3 w-100">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name">
                            <h6>{{ chat.sender.userDisplayName }}</h6> 
                        </span> 
                        <small class="text-muted time-text ml-1">{{ chat.date }}</small>
                    </div> 
                </div>
                <p class="user-comment-text text-justify">{{ chat.content }}</p>
            </div>
        </div>
    </ng-template>
</p-listbox>
