:host ::ng-deep {
    .p-card-content {
        padding: 0%;
    }

    .p-toolbar {
        border: none;
        padding: 0%;
    }

    .p-card {
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;
    }
}

.pi {
    cursor: pointer;
}

