<p-card>
    <div class="container-fluid">
        <div class="row">
            <h3>Build your network</h3>
            <p class="top">Start adding people to your timeline</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-12 mb-2">
                <app-suggestions></app-suggestions>
            </div>
            <div class="col-12 mb-2">
                <app-suggestions [users]="users"></app-suggestions>
            </div>
        </div>
    </div>
</p-card>