<p-card>
    <ng-template pTemplate="header">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <b>Step 4</b>
            </div>
            <div class="p-toolbar-group-right">
                <span pButton pRipple type="button" label="Skip" class="p-button-text" (click)="switch()"></span>
            </div>
        </p-toolbar>
    </ng-template>
    <h2 class="p-mb-5">Network</h2>
    <p>Start adding to your feed</p>
        <div class="row pt-5">
            <app-suggestions [users]="users"></app-suggestions>
        </div>

    <ng-template pTemplate="footer">
        <div class="p-grid p-nogutter p-justify-end mt-5">
            <button pRipple pButton label="Done" (click)="switch()"></button>
        </div>
    </ng-template>
</p-card>