<p-card>
  <ng-template pTemplate="header">
    <b>Step 1</b>
  </ng-template>
  <div class="p-grid">
    <div class="col-12 col-sm-5">
      <div class="p-fluid">
        <div class="p-field p-pb-3">
          <h2>Registration</h2>
        </div>
        <form [formGroup]="registrationForm">
          <div class="p-field">
            <input pInputText placeholder="Display Name" type="text" formControlName="displayName"/>
          </div>
          <div class="p-field">
            <input pInputText placeholder="Email" type="text" formControlName="email"/>
          </div>
          <div class="p-field">
            <input pInputText placeholder="Password" type="password" formControlName="password"/>
          </div>
        </form>
        <div class="p-field">  
          <p-checkbox [(ngModel)]="checkbox" [binary]="true" label="I agree to Volume privacy and policy."></p-checkbox>
        </div>
        <div class="p-field p-pt-3">
          <p-button label="Register" (click)="register()"></p-button>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-2">
      <p-divider layout="vertical">
        <b>OR</b>
      </p-divider>
    </div>
    <div class="col-12 col-sm-5 p-d-flex p-ai-center p-jc-center p-pt-4">
      <div class="p-fluid">
        <div class="p-field">
          <p-button
            label="Sign up with Facebook"
            icon="pi pi-user-plus"
            styleClass="p-button-success">
          </p-button>
        </div>
        <div class="p-field">
          <p>Already have an account? 
              <a class="primary">Login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</p-card>
