<p-toolbar [style]="{border: 'none', cursor: 'pointer'}" (click)="navigate()">
    <div class="p-toolbar-group-left">
        <div class="mt-1" >
            <div *ngIf="notification.stimulatorName">
                <span [ngSwitch]="notification.stimulation">
                    {{notification.stimulatorName}}
                    <span class="p-ml-1" *ngSwitchCase="0">
                        has liked your post.
                    </span>
                    <span class="p-ml-1" *ngSwitchCase="1">
                        has commented on your post.
                    </span>
                    <span class="p-ml-1" *ngSwitchCase="2">
                        has followed you.
                    </span>
                </span>
            </div>
            <div *ngIf="notification.targetName">
                <span [ngSwitch]="notification.stimulation">
                    You
                    <span class="p-ml-1" *ngSwitchCase="0">
                        have liked {{notification.targetName}}'s post.
                    </span>
                    <span class="p-ml-1" *ngSwitchCase="1">
                        have commented on {{notification.targetName}}'s post.
                    </span>
                    <span class="p-ml-1" *ngSwitchCase="2">
                        have followed {{notification.targetName}}.
                    </span>
                </span>
            </div>
        <small style="font-size: x-small;">@{{notification.date | date:"shortTime"}}</small>
    </div>
    </div>
    <div class="p-toolbar-group-right">
        <div class="d-flex justify-content-end">
            <i class="pi pi-times" (click)="delete()"></i>
        </div>
    </div>
</p-toolbar>