<div class="container-fluid sticky-top px-0 mx-0">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <img src="assets/images/volume-light.png" height="30">
            <h5 class="primary pt-1">Volume</h5>
        </div>

        <div class="p-toolbar-group-right">
            <i class="right-icons pi pi-link pi-search p-mr-4"></i>
            <i class="right-icons pi pi-link pi-bell p-mr-4"></i>
            <i class="right-icons pi pi-link pi-envelope p-mr-4"></i>
            <p-avatar image="assets/images/me.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
            <i class="pi pi-link pi-ellipsis-h" (click)="expandMenu()"></i>
        </div>
    </p-toolbar>

    <div *ngIf="menuExpanded">
        <p-menu [model]="items"></p-menu>
    </div>
</div>