<div class="container-fluid px-0 mx-0">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <img src="assets/images/volume-light.png" height="30">
            <h5 class="primary pt-1">Volume</h5>
        </div>

        <div class="p-toolbar-group-right">
            <i class="right-icons pi pi-link pi-search p-mr-4"></i>
            <i class="right-icons pi pi-link pi-bell p-mr-4"></i>
            <i class="right-icons pi pi-link pi-envelope p-mr-4"></i>
            <p-avatar [image]="(user$ | async).profilePhotoUrl? (user$ | async).profilePhotoUrl : ''"
            [icon]="(user$ | async).profilePhotoUrl? '' : 'pi pi-user'" 
            (click)="goToProfile()"
            styleClass="p-mr-2" shape="circle"></p-avatar>
        </div>
    </p-toolbar>

</div>