.pi, p-avatar, img {
    font-size: 1rem;
    cursor: pointer;
}

.pi-times {
    cursor: pointer;
}

:host ::ng-deep {
    .p-toolbar {
        padding: 2%;
    }
}

// 

.read {
    cursor: pointer;
    border: 1px solid #304562;
    margin-bottom: 1rem;
}

.unread {
    margin-bottom: 1rem;
    cursor: pointer;
    border: 1px solid #304562;
    color: rgba(255, 255, 255, 0.87);
    background: rgba(255, 255, 255, 0.03);
}

// .notification