<div class="container-fluid px-0 mx-0">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <img src="assets/images/volume-light.png" height="30">
            <h5 class="primary pt-1">Volume</h5>
        </div>

        <div class="p-toolbar-group-right">
            <i class="right-icons pi pi-link pi-search p-mr-4" (click)="op.toggle($event)"></i>
            <i class="right-icons pi pi-link pi-bell p-mr-4"></i>
            <i class="right-icons pi pi-link pi-envelope p-mr-4"></i>
            <p-avatar [image]="(user$ | async)?.profilePhotoUrl? (user$ | async)?.profilePhotoUrl : ''"
            [icon]="(user$ | async)?.profilePhotoUrl? '' : 'pi pi-user'" 
            (click)="goToProfile()"
            styleClass="p-mr-2" shape="circle"></p-avatar>
        </div>
    </p-toolbar>
</div>

<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" (onShow)="onShow()">
    <ng-template pTemplate>
        <p-card header="Search">
            <p-chips [(ngModel)]="keyword" [style]="{width: '100%'}" 
            placeholder="Type here .."
            (onAdd)="search()" (onRemove)="exit()"></p-chips>
            <div *ngIf="!hideRecent">
                <p-toolbar [style]="{border: 'none'}">
                    <div class="p-toolbar-group-left">
                        <h6 class="mt-4" >Recent searches</h6>
                    </div>
                    <div class="p-toolbar-group-right" *ngIf="(searchOperations$ | async)?.length > 0">
                        <a class="primary-link" (click)="clearAll()">Clear All</a>
                    </div>
                </p-toolbar>
                <div *ngFor="let searchOperation of (searchOperations$ | async)">
                    <p-toolbar [style]="{border: 'none', cursor: 'pointer'}">
                        <div class="p-toolbar-group-left"  (click)="search(searchOperation.keyword)">
                            {{ searchOperation.keyword }}
                        </div>
                        <div class="p-toolbar-group-right">
                            <i class="pi pi-times" (click)="removeOneOperation(searchOperation.id)" ></i>
                        </div>
                    </p-toolbar>
                </div>
                <div class="p-pl-3" *ngIf="(searchOperations$ | async)?.length === 0">
                    <p>Nothing to show.</p>
                </div>
            </div>
            <div *ngFor="let result of (searchResults$ | async)" class="mt-4">
                <app-user-card [user]="result"></app-user-card>
            </div>
            <div *ngIf="(searchResults$ | async)?.length === 0" class="mt-4">
                No results found. Try with other keywords.
            </div>
        </p-card>
    </ng-template>
</p-overlayPanel>