.pi-link, p-avatar, img {
    font-size: 1.5rem;
    cursor: pointer;
}

.pi-ellipsis-h {
    display: none;
}

@media screen and (max-width: 600px) {
    .right-icons, p-avatar {
        display: none;
    }

    .pi-ellipsis-h {
        display: block;
    }

}

:host ::ng-deep {
    .p-menu {
        width: 100%;
    }

    .p-avatar.p-avatar-circle {
        background-color: #304562;
    }
}