.pi, p-avatar, img {
    font-size: 1rem;
    cursor: pointer;
}

.pi-times {
    cursor: pointer;
}

:host ::ng-deep {
    .p-toolbar {
        padding: 2%;
    }
}

@media screen and (max-width: 350px) {
    h5 {
        display: none;
    }
}

