:host ::ng-deep {
    .p-avatar.p-avatar-circle {
        background-color: #304562;
        cursor: pointer;
    }

    .p-toast {
        cursor: pointer;
        max-width: 90%;
    }


}

@media screen and (max-width: 300px) {
    body {
        font-size: small;
    }

    :host ::ng-deep {
        .p-overlaypanel .p-overlaypanel-content {
            width: 250px !important;
        }
    }


}

img {
    width: 200px;
    height: 200px;
}
.rotate-center {
	-webkit-animation: rotate-center 1s ease-in-out infinite ;
	animation: rotate-center 1s ease-in-out infinite ;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  