:host ::ng-deep {
    .p-avatar.p-avatar-circle {
        background-color: #304562;
        cursor: pointer;
    }

    .p-toast {
        cursor: pointer;
    }

    .p-overlaypanel .p-overlaypanel-content {
        max-width: 100% !important;
    }
}

@media screen and (max-width: 300px) {
    body {
        font-size: small;
    }
}
