:host ::ng-deep {
    .p-avatar.p-avatar-circle {
        background-color: #304562;
        cursor: pointer;
    }

    .p-toast {
        cursor: pointer;
        max-width: 90%;
    }


}

@media screen and (max-width: 300px) {
    body {
        font-size: small;
    }

    :host ::ng-deep {
        .p-overlaypanel .p-overlaypanel-content {
            width: 250px !important;
        }
    }


}
