<div class="container-fluid px-0">
    <router-outlet></router-outlet>
</div>    
<p-toast></p-toast>

<p-toast key="new-message" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1"   (click)="navigateToMessage(message.data)">
            <h5>{{message.summary}}</h5>
            <p>{{message.detail}}</p>
        </div>
    </ng-template>
</p-toast>

<p-toast key="new-comment" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1" (click)="navigateToPost(message.data)">
            <h5>{{message.summary}}</h5>
            <p>{{message.detail}}</p>
        </div>
    </ng-template>
</p-toast>

<p-toast key="new-follower" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1" (click)="navigateToProfile(message.data)">
            <h5>{{message.summary}}</h5>
            <p>{{message.detail}}</p>
        </div>
    </ng-template>
</p-toast>