<p-card>
    <!-- Profile & Input -->
    <div class="d-flex flex-row">
        <p-avatar image="assets/images/me.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
        <input type="text" pInputText class="p-inputtext-md" disabled  placeholder="Start a post ..">
    </div>

    <!-- Action Buttons -->
    <div>
        <p-toolbar [style]="{'margin-top': '15px'}">   
            <button pButton pRipple type="button" styleClass="p-button-lg" label="Photos" 
            [icon]="uploaderExpanded? 'pi pi-times' : 'pi pi-images'" (click)="expandUploader()"
            class="p-button-rounded p-button-warning p-button-text"></button>
            <button pButton pRipple type="button" styleClass="p-button-lg" label="Camera" 
            [icon]="cameraExpanded? 'pi pi-times' : 'pi pi-camera'" (click)="expandCamera()"
            class="p-button-rounded p-button-help p-button-text"></button>
            <button pButton pRipple type="button" styleClass="p-button-lg" label="Editor" 
            [icon]="editorExpanded? 'pi pi-times' : 'pi pi-pencil'" (click)="expandEditor()"
            class="p-button-rounded p-button-danger p-button-text"></button>
        </p-toolbar>
    </div>

    <!-- Uploader -->
    <div *ngIf="uploaderExpanded"> 
        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
            [multiple]=true accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    
    <!-- Editor -->
    <div *ngIf="editorExpanded"> 
        <p-editor [style]="{'height':'320px'}"></p-editor>
    </div>

    <!-- Camera -->
    <div *ngIf="cameraExpanded">
        <p-dialog header="Camera" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000" (onHide)="cameraExpanded=false">
            <div class="p-5">
                <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                    [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                    [imageQuality]="1"
                    (cameraSwitched)="cameraWasSwitched($event)"
                    (initError)="handleInitError($event)"
            ></webcam>
            </div>
            <ng-template pTemplate="footer p-mt-1">
                <p-button icon="pi pi-check" label="Take A Snapshot" icon="pi pi-camera" styleClass="p-button-success" (click)="triggerSnapshot();"></p-button>
                <div *ngIf="multipleWebcamsAvailable">
                    <fa-icon (click)="showNextWebcam(true);" [icon]="faSync" style="font-size: xx-large;"></fa-icon>
                </div>
            </ng-template>
        </p-dialog>
    </div>

    <!-- Maximizable -->
    <div *ngIf="webcamImage">
    <p-dialog header="Is it looking nice?" [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false">
    <img [src]="webcamImage.imageAsDataUrl" class="snapshot"/>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="displayMaximizable=false" label="Ok" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-dialog>
    </div>

</p-card>
