<p-card>
    <!-- Profile & Input -->
    <div class="d-flex flex-row">
        <p-avatar image="assets/images/me.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
        <input type="text" pInputText class="p-inputtext-md" disabled  placeholder="Start a post ..">
    </div>

    <!-- Action Buttons -->
    <div>
        <p-toolbar [style]="{'margin-top': '15px'}">   

            <button pButton pRipple type="button" styleClass="p-button-lg" label="Photos" 
            [icon]="photoUploaderExpanded? 'pi pi-times' : 'pi pi-images'" (click)="expandPhotoUploader()"
            class="p-button-rounded p-button-warning p-button-text"></button>

            <button pButton pRipple type="button" styleClass="p-button-lg" label="Files" 
            [icon]="fileUploaderExpanded? 'pi pi-times' : 'pi pi-paperclip'"  (click)="expandFileUploader()"
            class="p-button-rounded p-button-help p-button-text"></button>

            <button pButton pRipple type="button" styleClass="p-button-lg" label="Editor" 
            [icon]="editorExpanded? 'pi pi-times' : 'pi pi-pencil'" (click)="expandEditor()"
            class="p-button-rounded p-button-danger p-button-text"></button>

        </p-toolbar>
    </div>

    <!-- Photo Uploader -->
    <div *ngIf="photoUploaderExpanded"> 
        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onPhotoUpload($event)"
            [multiple]=true accept="image/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedPhotos.length">
                    <li *ngFor="let file of uploadedPhotos">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>
    
    <!-- File Uploader -->
    <div *ngIf="fileUploaderExpanded"> 
        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onFileUpload($event)"
            [multiple]=true accept="application/*" [maxFileSize]="1000000">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
        </p-fileUpload>
    </div>

    <!-- Editor -->
    <div *ngIf="editorExpanded"> 
        <p-editor [style]="{'height':'320px'}"></p-editor>
    </div>

    
</p-card>
