<app-navbar></app-navbar>

<div class="container-fluid mt-4">
    <p-card *ngIf="(profile$ | async) as profile">
        <div class="d-flex flex-row"> 
            <p-avatar 
            shape="circle" styleClass="profile"
            [icon]="profile.profilePhotoUrl? '' : 'pi pi-user'" 
            [image]="profile.profilePhotoUrl? profile.profilePhotoUrl : ''"
            pTooltip="Add a profile photo"></p-avatar>
            <div class="p-ml-3 w-100">
                <div class="d-flex justify-content-between align-items-center p-pt-3">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name">
                            <h3>{{ profile.displayName }}</h3> 
                        </span> 
                    </div> 
                </div>
                <p class="user-comment-text text-justify">{{ profile.title || 'Volume user' }}</p>
            </div>
            <p-button
            *ngIf="currentUser.id !== userId"
            icon="pi pi-plus" 
            label="follow"
            styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
        </div>
    </p-card>
    <p-card>
        <p-tabView [scrollable]="true" [(activeIndex)]="index" (onChange)="indexChanged(index)">
            <p-tabPanel header="About">
                <ng-template pTemplate="content">
                    <app-user-about></app-user-about>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Photos">
                <ng-template pTemplate="content">
                    <app-galleria [photos]="(photos$ | async)"></app-galleria>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Followings">
                <ng-template pTemplate="content">
                    <div *ngIf="(followings$ | async)?.length === 0">
                        Nothing to show.
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" *ngFor="let user of (followings$ | async)">
                            <app-user-card [user]="user"></app-user-card>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
            <p-tabPanel header="Followers">
                <ng-template pTemplate="content">
                    <div *ngIf="(followers$ | async)?.length === 0">
                        Nothing to show.
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6" *ngFor="let user of (followers$ | async)">
                            <app-user-card [user]="user"></app-user-card>
                        </div>
                    </div>
                </ng-template>
            </p-tabPanel>
        </p-tabView>
    </p-card>
</div>

<div class="container-fluid" *ngIf="currentUser.id === userId">
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 pt-1">
                <p-card>
                    <app-add-post></app-add-post>
                </p-card>
            </div>
        </div>
</div>

<div *ngFor="let post of (profile$|async)?.posts">
    <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
            <app-post-card [post]="post"></app-post-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-4" *ngIf="(profile$|async)?.posts.length === 0">
    <div class="col-12 col-sm-6 col-md-6">
        <p-card styleClass="no-post">
            <h3 style="text-align: center;">No posts yet.</h3>
        </p-card>
    </div>
</div>

<div class="d-flex justify-content-center mt-3">
    <div class="col-12 col-sm-6 col-md-6">
        <p-card styleClass="joined">
            <h3 style="text-align: center;">Joined in 19/02/1999 </h3>
        </p-card>
    </div>
</div>