:host ::ng-deep {
    .p-avatar.profile {
        width: 6rem;
        height: 6rem;
        font-size: 3rem;
    }
    
    .p-card.joined {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .p-card.no-post {
        border-radius: 10px;
    }
    
}

.add-post {
    padding: 0 10%;
}

.name {
    font-size: 1rem;
}

@media screen and (max-width: 400px) {
    :host ::ng-deep {
        .p-avatar.profile {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
        }
    }

}

@media screen and (max-width: 350px) {
    .name {
        font-size: small;
    }

    small {
        display: none;
    }
}