<p-card>
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <div class="d-flex flex-row">
                <div class="p-ml-3 p-pt-2">
                    <h5>Recent Chats</h5>
                </div>
            </div>
        </div>
        <div class="p-toolbar-group-right">
            <i class="pi pi-ellipsis-h p-pt-3 p-mr-3" (click)="menu.toggle($event)"></i> 
        </div>
    </p-toolbar>                
</p-card>
<p-card>
<p-listbox [options]="(contacts$ | async)" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [listStyle]="{ 'height': '570px'}"
    optionLabel="contact.displayName" [multiple]="false" [(ngModel)]="selectedContact" (onChange)="selectContact()">
    <ng-template let-contact pTemplate="item">
        <div class="d-flex flex-row mt-1"> 
            <p-avatar icon="pi pi-user" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
            <div class="ml-3 w-100">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex flex-row align-items-center"> 
                        <span class="name">
                            <h6>{{ contact.displayName }}</h6> 
                        </span> 
                        <small class="text-muted time-text p-ml-1">{{ contact.lastMessageSent.sentAt | date }}</small>
                    </div> 
                </div>
                <p style="font-size: small;" class="user-comment-text text-justify">{{ contact.lastMessageSent.content }}</p>
            </div>
        </div>
    </ng-template>
</p-listbox>
</p-card>


<p-menu #menu [popup]="true" [model]="items"></p-menu>