img {
    width: 40px;
    height: 40px;
}

.container-fluid {
    padding: 10% 10%;
}

.welcoming {
    padding-right: 5%;
}

p {
    text-align: center; 
    font-size: small;
}

:host ::ng-deep {
    .p-card {
        padding: 1% 10%;
    }
}

.pi-facebook, .pi-google {
    font-size: 2.5rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .welcoming {
        display: none;
    }

    .container-fluid {
        padding-top: 10%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

