<div class="d-flex flex-row pt-4" style="padding-left: 3%;">
    <img src="assets/images/volume.png" alt="volume">
    <h3 class="pt-1">Volume</h3>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 pb-5 welcoming">
            <strong><h1>Welcome to the world's most <br>
                loved social network ever!</h1></strong>
            <h4 class="mt-3">Join today and get access to</h4>
            <h5><i class="pi pi-check p-mr-2 mt-2"></i>+1 billion daily active user</h5>
            <h5><i class="pi pi-check p-mr-2"></i>+2,000,000 photos uploaded</h5>
            <h5><i class="pi pi-check p-mr-2"></i>Tons of learn and fun</h5>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
            <p-card>
               <h3 class="mb-2">Sign in</h3>
               <div class="mt-4">
                    <app-login-form></app-login-form>
               </div>
               <p class="mt-3">Do not have an account? <a class="primary-link" [routerLink]="['/register']">Sign up</a></p>
               <div class="d-flex justify-content-center">
                    <p-divider layout="horizontal">
                        <b>OR</b>
                    </p-divider>
               </div>
               <div class="d-flex justify-content-center mt-3 mb-5">
                <i class="pi pi-facebook" (click)="signInWithFB()"></i>
                <i class="pi pi-google p-ml-2" (click)="signInWithGoogle()"></i>
               </div>
            </p-card>
        </div>
    </div>
</div>