.card {
    border: none;
    border-radius: 10px;
}

.pointer {
    cursor: pointer;
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.postImage {
    width: 100%;
    max-height: 400px;
}

.text1 {
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.text2 {
    color: #a5aec0;
    cursor: pointer;
}

.time-text {
    font-size: 12px;
    margin-left: 5px;
}

.user-comment-text {
    font-size: 14px
}

.pi-send {
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: xx-large;
}

.comment-icon {
    font-size: x-large;
}

img {
    width: 100%;
}

.pi-send {
    font-size: x-large;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

:host ::ng-deep { 
    .p-inputtext {
        width: 70% !important;
        padding-left: 15px;
    }

    .p-toolbar {
        border: none;
        padding: 0%;
    }

    .p-avatar {
        border: 1px solid #17212f;
    }
}

@media screen and (max-width: 300px) {
    .follow {
        display: none;
    }

    h6 {
        font-size: 1rem;
    }
}