<div class="mt-5 mb-3">
    <div class="row">
        <div class="col-12">
            <div class="card p-3 mb-2 white second-bg">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="profilePhotoUrl"> 
                            <p-avatar [image]="post?.appUser?.profilePhotoUrl? post?.appUser?.profilePhotoUrl: ''" 
                            [icon]="post?.appUser?.profilePhotoUrl? '': 'pi pi-user'" (click)="goToProfile(post?.appUser?.id)"
                            styleClass="p-mr-1" size="large" shape="circle" class="pointer"></p-avatar>
                        </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0 pointer" (click)="goToProfile(post?.appUser?.id)">{{ post?.appUser?.displayName }}</h6> 
                            <span>{{ post?.date | date}}</span>
                        </div>
                    </div>
                    <span *ngIf="(user$ | async)?.id === post?.appUser?.id" class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></span>
                    <p-button *ngIf="(user$ | async)?.id !== post?.appUser?.id"
                        pRipple type="button" [label]="post?.isFollowing? 'Following' : 'Follow'" 
                        [icon]="post?.isFollowing? 'pi pi-check' : 'pi pi-plus'" 
                        (click)="followToggle()"
                        class="follow"
                        styleClass="p-button-outlined p-button-rounded p-button-sm">
                    </p-button>
                </div>
                <div class="mt-5">

                    <!-- Post Body -->
                    <p [innerHtml]="post?.description"></p>
                    <div class="mt-3">
                        <img *ngIf="post?.file" [src]="post?.file.url" alt="" class="postImage">
                        <div class="mt-3"> 
                            <span class="text1" (click)="showLikers()">liked by {{ post?.likesCount}}, </span>
                            <span class="text2" *ngIf="post?.commentsCount === 1 || post?.commentsCount === 0"  
                                (click)="expandComments(post?.id)">{{ post?.commentsCount }}
                                <span [innerText]="post?.commentsCount > 2? 'comments' : 'comment' "></span>
                            </span> 
                            <span class="text2" *ngIf="post?.commentsCount > 1" (click)="expandComments(post?.id)">
                                {{ post?.commentsCount }} comments</span> 
                        </div>

                        <!-- Action buttons -->
                        <p-toolbar [style]="{'margin-top': '15px'}">   
                            <p-button  pRipple type="button" [label]="post?.isLikedByUser? 'Liked' : 'Like'" 
                            icon="pi pi-heart" (click)="likeToggle()"
                            styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
                            <p-button  pRipple type="button" label="Comment" 
                            [icon]="commentsExpanded? 'pi pi-times' : 'pi pi-comment'" (click)="expandComments(post?.id)"
                            styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                            <p-button  pRipple type="button" [label]="post?.isSavedByUser? 'Saved' : 'Save'" 
                            [icon]="post?.isSavedByUser? 'pi pi-check': 'pi pi-bookmark'"
                            styleClass="p-button-rounded p-button-help p-button-text" (click)="saveToggle(post?.id)"></p-button>
                        </p-toolbar>

                        <!-- Comments -->
                        <div class="mt-2" *ngIf="commentsExpanded">
                            <p-scrollPanel #scroller [style]="{ height: '300px'}" *ngIf="(comments$ | async ).length > 0">
                                <div *ngFor="let comment of (comments$ | async )">
                                    <div class="d-flex flex-row mt-4"> 
                                        <p-avatar [image]="comment.appUser?.profilePhotoUrl? comment.appUser?.profilePhotoUrl : ''" 
                                        [icon]="comment.appUser?.profilePhotoUrl? '' : 'pi pi-user'" (click)="goToProfile(comment.appUser?.id)"
                                        styleClass="p-mr-2" size="large" shape="circle" class="pointer"></p-avatar>
                                        <div class="ml-2 w-100">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="d-flex flex-row align-items-center"> 
                                                    <span class="name">
                                                        <h6 class="pointer" (click)="goToProfile(comment.appUser?.id)">{{ comment.appUser?.displayName }}</h6> 
                                                    </span> 
                                                    <small class="text-muted time-text"> {{ comment.date | date }}</small>
                                                </div> 
                                            </div>
                                            <p class="user-comment-text text-justify">{{ comment.content }}</p>
                                        </div>
                                        <p-button (click)="deleteComment(comment.id);"
                                        *ngIf="comment.appUser?.id === (user$ | async)?.id" 
                                        icon="pi pi-trash" 
                                        styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                                    </div>
                                </div>
                            <app-loader (click)="loadMoreComments()" [noMore]="noMoreComments" *ngIf="(comments$ | async )?.length >= 10"></app-loader>
                            </p-scrollPanel>
                            <form [formGroup]="commentForm" class="d-flex flex-row mt-4">
                                <p-avatar [image]="(user$ | async)?.profilePhotoUrl? (user$ | async)?.profilePhotoUrl : ''" 
                                [icon]="(user$ | async)?.profilePhotoUrl? '' : 'pi pi-user'" styleClass="p-mr-2" 
                                size="large" shape="circle"></p-avatar>
                                <input type="text" placeholder="Your comment .." pInputText formControlName="content" (keyup.enter)="addComment();"/>
                                <fa-icon *ngIf="!emojiExpanded" [icon]="faGrinAlt" (click)="op1.show($event)"></fa-icon>
                                <fa-icon *ngIf="emojiExpanded" [icon]="faTimes"></fa-icon>
                            </form>    
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Title" [(visible)]="displayLikers" (onShow)="getLikers()"
[breakpoints]="{'960px': '95vw', '640px': '90vw'}" [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        People who likes this
    </ng-template>
    <div *ngIf="(likers$ | async)?.length === 0">
        Nothing to show
    </div>
    <p-scrollPanel [style]="{height: '300px'}">
        <div *ngFor="let user of (likers$ | async)">
            <app-user-card [user]="user" (click)="loadMoreLikers()"></app-user-card>
        </div>
        <app-loader *ngIf="(likers$ | async)?.length >= 10" [noMore]="noMoreLikers"></app-loader>
    </p-scrollPanel>
</p-dialog>

<p-menu #menu [popup]="true"  [model]="items" (onShow)="onMenuShow()"></p-menu>

<p-dialog header="Edit post" [(visible)]="displayDialog" [breakpoints]="{'960px': '95vw'}" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false" (onShow)="onDialogSHow()">
    <form [formGroup]="inputForm">
        <textarea [rows]="3" pInputTextarea placeholder="Post description" required formControlName="description"></textarea>
    </form>
    <div class="row pb-2">
        <div class="col-12 d-flex justify-content-end">
            <fa-icon *ngIf="!emojiExpanded" [icon]="faGrinAlt" (click)="op1.show($event)"></fa-icon>
            <fa-icon *ngIf="emojiExpanded" [icon]="faTimes"></fa-icon>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-2">
        <p-button label="Save Changes" (click)="saveChanges()" 
        [disabled]="description.invalid || description.value === post?.description"></p-button>
    </div>
</p-dialog>

<p-overlayPanel #op1 (onShow)="expandEmoji()" (onHide)="hideEmoji()" 
[dismissable]="true" [showCloseIcon]="true" appendTo="body">
    <ng-template pTemplate>
        <app-emoji (emojiEmitter)="select($event)" (emojiClickEmitter)="op1.hide()"></app-emoji>
    </ng-template>
</p-overlayPanel>