<div class="container mt-5 mb-3">
    <div class="row">
        <div class="col-12">
            <div class="card p-4 mb-2 white second-bg">
                <div class="d-flex justify-content-between">
                    <div class="d-flex flex-row align-items-center">
                        <div class="profilePhotoUrl"> 
                            <p-avatar image="assets/images/jimmy.jpg" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
                        </div>
                        <div class="ms-2 c-details">
                            <h6 class="mb-0">{{ post.appUser.displayName }}</h6> <span>{{ post.date | date}}</span>
                        </div>
                    </div>
                    <p-button pRipple type="button" [label]="post.isFollowing? 'Following' : 'Follow'" 
                        [icon]="post.isFollowing? 'pi pi-check' : 'pi pi-plus'" 
                        (click)="followToggle()"
                        styleClass="p-button-outlined p-button-rounded p-button-sm">
                    </p-button>
                </div>
                <div class="mt-5">

                    <!-- Post Body -->
                    <p>{{ post.description }}</p>
                    <div class="mt-3">
                        <img [src]="post.file.url" alt="" class="postImage">
                        <div class="mt-3"> 
                            <span class="text1" (click)="op.toggle($event)">{{ post.likesCount}} like, </span>
                            <span class="text2" *ngIf="post.commentsCount === 1 || post.commentsCount === 0"  
                            (click)="expandComments(post.id)">{{ post.commentsCount }} comment</span> 
                            <span class="text2" *ngIf="post.commentsCount > 1" (click)="expandComments(post.id)">
                                {{ post.commentsCount }} comments</span> 
                        </div>

                        <!-- Action buttons -->
                        <p-toolbar [style]="{'margin-top': '15px'}">   
                            <button pButton pRipple type="button" styleClass="p-button-lg" [label]="post.isLikedByUser? 'Liked' : 'Like'" 
                            [icon]="post.isLikedByUser? 'pi pi-check' : 'pi pi-heart'" (click)="likeToggle()"
                            class="p-button-rounded p-button-danger p-button-text"></button>
                            <button pButton pRipple type="button" styleClass="p-button-lg" label="Comment" 
                            [icon]="commentsExpanded? 'pi pi-times' : 'pi pi-comment'" (click)="expandComments(post.id)"
                            class="p-button-rounded p-button-warning p-button-text"></button>
                            <button pButton pRipple type="button" styleClass="p-button-lg" label="Share" 
                            icon="pi pi-send"
                            class="p-button-rounded p-button-help p-button-text"></button>
                        </p-toolbar>

                        <!-- Comments -->
                        <div class="mt-2" *ngIf="commentsExpanded">
                            <div *ngFor="let comment of (comments$ | async )">
                                <div class="d-flex flex-row mt-4"> 
                                    <p-avatar [image]="comment.appUser.profilePhotoUrl" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
                                    <div class="ml-2 w-100">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex flex-row align-items-center"> 
                                                <span class="name">
                                                    <h6>{{ comment.appUser.displayName }}</h6> 
                                                </span> 
                                                <small class="text-muted time-text"> {{ comment.date | date }}</small>
                                            </div> 
                                        </div>
                                        <p class="user-comment-text text-justify">{{ comment.content }}</p>
                                    </div>
                                    <p-button (click)="deleteComment(comment.id)"
                                    *ngIf="comment.appUser.id === currentUser.id" 
                                    icon="pi pi-trash" 
                                    styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                                </div>
                            </div>
                            <div class="d-flex flex-row mt-4">
                                <p-avatar [image]="post.appUser.profilePhotoUrl" styleClass="p-mr-2" size="large" shape="circle"></p-avatar>
                                <input type="text" placeholder="Your comment .." pInputText [(ngModel)]="content" (keyup.enter)="addComment()"/>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-overlayPanel #op (onShow)="getLikers()">
    <ng-template pTemplate>
        <app-suggestions *ngIf="(likers$ | async) as likers" [users]="likers"></app-suggestions>
    </ng-template>
</p-overlayPanel>