<app-navbar></app-navbar>
<p-card class="contacts">
    <ng-template pTemplate="header">
        <div *ngIf="!searchMode" class="row px-3 pt-3 fade-in-left">
            <div class="col-6">
                <p *ngIf="!searchMode">Inbox</p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <i class="pi pi-search" (click)="searchMode=true"></i>
            </div>
        </div>
        <div class="row mb-4 px-2" *ngIf="searchMode" style="border: none;">
            <div class="col-12 fade-in-right">
                <i class="pi pi-arrow-left p-mx-3" (click)="searchMode=false;"></i>
                <input type="text" placeholder="Type here .." pInputText [(ngModel)]="keyword" (keyup)="filterContacts()">
            </div>
        </div>
    </ng-template>
    <div *ngIf="(contacts$ | async)?.length === 0">
        Nothing to show.
    </div>
    <p-scrollPanel *ngIf="!searchMode" [style]="{height: '80vh'}">
        <div *ngFor="let contact of (contacts$ | async)" [routerLink]="['/thread']" [queryParams]="{previous: 'contacts', contactId: contact.id}"
            [ngClass]="(contact.lastMessageReceived?.sentAt > contact.lastMessageSent?.sentAt && contact.lastMessageReceived?.seen)? 'read' : 'unread'">
                <app-contact [contact]="contact"></app-contact>
        </div>
    </p-scrollPanel>
    <p-scrollPanel *ngIf="searchMode" [style]="{height: '80vh'}" class="p-mt-5">
        <div *ngFor="let contact of (filteredContacts$ | async)" [routerLink]="['/thread']" [queryParams]="{previous: 'contacts', contactId: contact.id}"
            [ngClass]="(contact.lastMessageReceived?.sentAt > contact.lastMessageSent?.sentAt && contact.lastMessageReceived?.seen)? 'read' : 'unread'">
            <app-contact [contact]="contact"></app-contact>
        </div>
    </p-scrollPanel>
</p-card>