<p-card>
    <ng-template pTemplate="header">
    <b>Step 2</b>
    </ng-template>
    <h2>Verification</h2>
    <p class="mt-5">A verification link has been sent to this email address: </p>
    <p class="mt-3 mb-5">"{{email}}"</p>
    <p>Please check your inbox <strong>including junk and all mails folders</strong> and click on the verification link to proceed.</p>
    <ng-template pTemplate="footer">
        <p>Did not get the link? <a class="primary-link" (click)="resendEmailVerification()">Resend</a></p>
    </ng-template>
</p-card>