
<div class="row mt-3 mr-0">
    <div class="col-md-3 col-sm-12 pt-5">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis in vitae provident. 
        Nobis dolorem quia quo distinctio eligendi aliquam cumque enim minima dicta temporibus facere, optio sed debitis reiciendis sit!
    </div>
    <div class="col-md-5 col-sm-12 p-3">
        <app-add-post></app-add-post>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
    <div class="col-sm-12 col-md-4 pt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad distinctio reiciendis non, illo reprehenderit, repudiandae asperiores magnam quas fugiat eligendi labore ratione. 
        Accusantium nisi iusto unde consequuntur maxime eligendi. Velit.
    </div>
</div>