<app-navbar></app-navbar>

<div class="row mx-0">
    <div class="col-lg-1 col-md-0">

    </div>
    <div class="col-12 col-sm-12 col-md-8">
        <p-card>
            <app-add-post></app-add-post>
        </p-card>
        <div *ngIf="(posts$ | async) as posts">
            <div *ngFor="let post of posts">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>
    </div>
    <div class="p-d-none p-d-md-inline-flex col-md-4 col-lg-3">
        <app-side-cards></app-side-cards>
    </div>
</div>

