<app-navbar></app-navbar>

<div class="row mx-0 d-flex justify-content-center pr-5">

    <div class="col-12 col-sm-12 col-md-7 mx-0 px-0">
        <p-card>
            <app-add-post></app-add-post>
        </p-card>
        <div *ngIf="(posts$ | async) as posts" infiniteScroll [infiniteScrollDistance]="0.5" (scrolled)="onScroll($event)" class="px-1">
            <div *ngFor="let post of posts">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>
    </div>
    <div class="p-d-none p-d-md-inline-flex col-md-5 col-lg-4 p-pl-5">
        <app-side-cards></app-side-cards>
    </div>
</div>

