/* You can add global styles to this file, and also import other style files */

@import "../node_modules/primeng/resources/themes/vela-orange/theme.css";
@import "../node_modules/primeflex/primeflex.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

@import "~bootstrap/dist/css/bootstrap.css"; //bootstrap


@import '~@ctrl/ngx-emoji-mart/picker';

body {
    background-color: #17212f;
    color: rgba(255, 255, 255, 0.87);
    height: 100%;
    position: relative;
    overflow-x: hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.primary {
    color: #FFDE59;
}

.primary-link {
    color: #FFDE59;
    cursor: pointer;
}

.primary-link:hover {
    color: #ffcd2e;
}

.primary-link:enabled:active {
    color: #ffc50c;
}

.primary-bg {
    background-color: #17212f;
}

.second-bg {
    background-color: #1f2d40;
}

.white {
    color: rgba(255, 255, 255, 0.87);
}

.pi-ellipsis-v {
    cursor: pointer;
}




