
i {
    font-size: 1.5rem;
    cursor: pointer;
}

fa-icon {
    cursor: pointer;
    font-size: 1.7rem;
}

.pi-arrow-left {
    display: none;
}

:host ::ng-deep {
    .p-inputtext {
        width: 100%;
    }

    .p-card {
        padding: 0%;
        margin-top: 0%;
        border: none;
        margin-bottom: 0%;
    }

    .p-card-content {
        padding: 0%;
    }

    .p-card-body {
        padding: 1% 1%;
    }

    .p-toolbar {
        border: none;
    }
        
}

@media screen and (max-width: 1200px) {
    .row.fixed-bottom {
        padding: 0;
    }

    app-chat-popup {
        display: none;
    }

    .pi-arrow-left {
        display: block;
    }
}
