<div [class]="chatRoomClass">
    <p-card>
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <div class="d-flex flex-row">
                    <i class="pi pi-arrow-left pt-2 mr-4" (click)="backToContacts()"></i>
                    <p-avatar image="assets/images/jimmy.jpg" shape="circle" size="large"></p-avatar>
                    <div class="ml-3">
                        <h5>Jimmy Los</h5>
                        Online
                    </div>
                </div>
            </div>
            <div class="p-toolbar-group-right">
                <i class="pi pi-ellipsis-h pt-3 mr-3"></i>
            </div>
        </p-toolbar>
        <hr>
        <app-chats [filter]="false" [selectionMode]="selectionMode" [listStyle]="listStyle"></app-chats>
    </p-card>
    
    <p-overlayPanel #op (onShow)="expandEmoji()" (onHide)="expandEmoji()">
        <ng-template pTemplate>
            <app-emoji (emojiEmitter)="select($event)"></app-emoji>
        </ng-template>
    </p-overlayPanel>

    <p-card>
        <div class="col-12 d-flex justify-content-end">
            <i class="pi pi-images mr-4 mt-2"></i>
            <i class="pi pi-camera mr-4 mt-2"></i>
            <i class="pi pi-pencil mr-4 mt-2"></i>
            <fa-icon *ngIf="!emojiExpanded" [icon]="faGrinAlt" class="mr-4" (click)="op.toggle($event)"></fa-icon>
            <fa-icon *ngIf="emojiExpanded" [icon]="faTimes" class="mr-4"></fa-icon>
        </div>
        <div class="col-12">
            <form [formGroup]="inputForm" class="d-flex justify-content-end">
                <input type="text" pInputText placeholder='Press "Enter" to send message ..' formControlName="message"> 
            </form>
        </div>  
    </p-card>
    
</div>
        
